<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWE_ISP"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".P1_Main"
            android:exported="true"
            android:label="@string/title_activity_p1_programs"
            android:theme="@style/Theme.SWE_ISP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".P1_CoursesActivity">

        </activity>
        <activity
            android:name=".P1_CourseActivity">

        </activity>

        <activity
            android:name="P2_Schedule"
            android:exported="false"
            android:label="Schedule"
            android:theme="@style/Theme.SWE_ISP" />
        <activity
            android:name=".P3_Calendar"
            android:exported="false"
            android:label="Calendar"
            android:theme="@style/Theme.SWE_ISP" />
        <activity
            android:name=".P4_Transit"
            android:exported="false"
            android:label="Transit"
            android:theme="@style/Theme.SWE_ISP" />
        <activity
            android:name=".P5_Contacts"
            android:exported="false"
            android:label="Contacts"
            android:theme="@style/Theme.SWE_ISP" />
        <activity
            android:name=".P6_News"
            android:exported="false"
            android:label="News"
            android:theme="@style/Theme.SWE_ISP" />
        <activity
            android:name=".P7_Info"
            android:exported="false"
            android:label="Info"
            android:theme="@style/Theme.SWE_ISP" />
    </application>

</manifest>