<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWE_ISP"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".p1_programs.P1_Main"
            android:exported="true"
            android:label="@string/title_activity_p1_programs"
            android:theme="@style/Theme.SWE_ISP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".p1_programs.CoursesActivity">

        </activity>
        <activity
            android:name=".p1_programs.CourseActivity">

        </activity>

        <activity
            android:name=".p2_schedule.P2_Main"
            android:exported="false"
            android:label="Schedule"
            android:theme="@style/Theme.SWE_ISP" />
        <activity
            android:name=".p3_calendar.P3_Main"
            android:exported="true"
            android:label="Calendar"
            android:theme="@style/Theme.SWE_ISP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".p3_calendar.EventActivity"></activity>
        <activity
            android:name=".p4_transit.P4_Main"
            android:exported="false"
            android:label="Transit"
            android:theme="@style/Theme.SWE_ISP" />
        <activity
            android:name=".p5_contacts.P5_Main"
            android:exported="true"
            android:label="Contacts"
            android:theme="@style/Theme.SWE_ISP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".p5_contacts.WebIntent"></activity>
        <activity
            android:name=".p6_news.P6_Main"
            android:exported="true"
            android:label="News"
            android:theme="@style/Theme.SWE_ISP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".p6_news.NewsActivity"></activity>
        <activity android:name=".p6_news.DetailNewsActivity"></activity>
        <activity
            android:name=".p7_info.P7_Main"
            android:exported="false"
            android:label="Info"
            android:theme="@style/Theme.SWE_ISP" />
    </application>

</manifest>